 .error{
    color: #FF0000;
  }
  .user-container {
    display: flex;
    flex-direction: column;
    margin: 2em auto auto;
  }
  .userDetails-container {
    display: flex;
    flex-direction: column;
    margin: 2em auto 2em;
    height: 600px;
    overflow-y: auto;
  }
  .figure{
    text-align: center;
  }
  .user-img{
    display: block;
  }
  .user-name{
    padding: 5px;
    font-size: 18px;
    font-family: unset;
    color: #6a6060;
  }
  .submitBtn{
    margin: 0 auto;
    width: 20%;
    display: block;
  }
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
  .modal-footer {
    border: none !important;
  }
  .info-container{
    padding: 15px;
  }
  .main-info{
    text-align: center;
    padding: 15px;
  }